# Use this when launching from WSL2.
# Copy to .env in the same folder as docker-compose.yml and edit as needed.

SEAAD_HOST_DIR=/mnt/c/Users/dpado/Documents/jhu/postdoc/grants/Kavli/SEA-AD
SEAAD_WORK_DIR=/mnt/c/Users/dpado/Documents/jhu/postdoc/grants/Kavli/SEA-AD
SEAAD_COMMAND=pipeline
